{% extends "layouts/base.html" %}
{% load static %}

{% block title %}List Books{% endblock %}

{% block content %}

<h1>List of Books</h1>

<h2>Internet & World Wide Web How to Program</h2>
<img src="{% static 'images/book1.jpg' %}" width="200">

<hr>

<h2>C++ How to Program</h2>
<img src="{% static 'images/book2.jpg' %}" width="200">

<hr>

<h2>Images in Another Folder</h2>
<img src="{% static 'images/book3.jpg' %}" width="200">

{% endblock %}



<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>List of Books</title>
  <meta charset="UTF-8">

  <CSS من static -->
  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body> -->

  <!-- <div>
    <! روابط Django -->
    <!-- <a href="{% url 'books.index' %}">Home</a>
    <a href="{% url 'books.list_books' %}">List Books</a>
    <a href="{% url 'books.aboutus' %}">About</a>
  </div>

  <h1>List of Books</h1>

  <a href="{% url 'books.view_one_book' 1 %}">
    <h2>Internet & World Wide Web How to Program</h2>
  </a> -->

  <!-- صور من static -->
  <!-- <img src="{% static 'images/book1.jpg' %}" width="200" height="200" alt="Book 1"> -->
<!--  -->
  <!-- <hr>

  <h2>C++ How to Program</h2>
  <img src="{% static 'images/book2.jpg' %}" width="200" height="200" alt="Book 2">

  <hr>

  <h2>Images in Another Folder</h2>
  <img src="{% static 'images/book3.jpg' %}" width="200" height="200" alt="Book 3">

</body> --> --
<!-- </html> --> -


