{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show One Book</title>
  <meta charset="UTF-8">

  <!-- لو عندك CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <!-- رجوع باستخدام Django URL -->
  <a href="{% url 'books.list_books' %}">Go Back</a>

  <h1>Details of Book 1</h1>
  <h2>Internet & World Wide Web How to Program</h2>
  <h2>Author: author name</h2>

  <p>
    <strong>Internet & World Wide Web How to Program</strong>
    provides introduction to web programming.
  </p>

  <!-- صورة من static -->
  <img src="{% static 'images/book1.jpg' %}" width="200" height="200" alt="Book 1">

</body>
</html>